<!DOCTYPE html>
<html lang="fr" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is the demo</title>

</head>
<body>
<H1> New home for the brave</H1>
<h2>Actions disponibles</h2>
<a href="DVD/add-dvd">Add un nouveau DVD</a>
<h2>DVS in base</h2>

<table border="1">
    <tr th:each="dvd:${MyDvds}">
        <td>
            <a th:href="@{/DVDStore/{DvdTitle}(DvdTitle=${dvd.name})}" th:text="${dvd.name}"/>
            <!--            <a th:href="${book.title}" th:text="${book.title}"/>-->
        </td>
        <td>
            <li th:text="${dvd.category}">
                <!--            <ul th:each = "category:${dvd.category}">-->
                <!--                <li th:text="${category}"></li>-->
                <!--            </ul>-->
        </td>
    </tr>

</table>
</body>
</html>
